---
layout: front
title: Code Library
subTitle: Hope you find what you are looking for.
---

<!-- Main -->
<div class="row">

<div class="col-md-8">
<h4 class="zephyr">Welcome </h4>
<p>Welcome to the Zephyr Open Code Directory for Transportation Analysis, where you will find articles to help you navigate using, contributing, and managing open source code projects as well as many projects that we think could be broadly helpful to the transportation analysis community.
</p>

<section id="projects">
<h3><p class="zephyr">Open-Source Code</p></h3>
<div class="card-deck">
{% for group in site.project-groups %}
  	{% if group.front %}
    {% assign tag_count = 0 %}
    {% for currentTag in tags %}
        {% if currentTag == group.category %}
          {% assign tag_count = tag_count | plus: 1 %}
        {% endif %}
    {% endfor %}

  	<div>
  	<a href= {{ site.baseurl }}{{ group.url }}>
  	<div class="card square-card">
  		<div class="card-block">
    		<h6 class="card-title">{{ group.title }}</h6>
         <p class="card-text card-counter">
          {{ tag_count }}
        </p>
		</div>
	</div>
	</a>
	</div>
  	{% endif %}
{% endfor %}
</div>
</section>

</div>

<div class="col-md-4">
	<!-- Blog Categories Well -->
	 <div>
	 	<h3>Getting Started</h3>
			{% for article in site.articles %}
  			{% if article.front %}
    				<h6 class="zephyr"><a href={{ site.baseurl }}{{ article.url }}>{{ article.title }}</a></h6>
					<p class="caption">{{ article.short-description }}</p>
  			{% endif %}
			{% endfor %}
	</div>
	<!-- Side Widget Well -->
	<div>
		<h3>Updates</h3>
		<p class="side-bar">This site is a work in progress.  We welcome feedback on how to make it more helpful.</p>
	</div>

</div>
<!-- /.col-md-4 -->


</div>
<!-- /.row -->
