<!-- Footer -->

<footer>
<div class="container">

<section id="contact">
<div class="row">
	<div class="col-md-8">
	<h4>Get in touch:</br></h4>
	<form method="post" action="https://formspree.io/elizabeth@zephyrtransport.org">
		<div class="form-group row">
			<input class="form-control" type="text" name="name" id="name" placeholder="Name" />
		</div>
		<div class="form-group row">
			<input class="form-control" type="email" name="email" id="email" placeholder="Email" />
		</div>
		<div class="form-group row">
			<textarea class="form-control" name="message" id="message" placeholder="Message"></textarea>
		</div>
		<button type="submit" value="Send" class="btn btn-primary">Submit</button>
	</form>
	</div>
	
	<div class="col-md-2 offset-md-2" style="text-align: right;">
	<h4>Follow</h4>
	
	<div class="row" style="text-align: right;">
		<a href="https://twitter.com/zephyrtransport" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
		<a href="https://github.com/zephyrtransport" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
		<a href="https://eepurl.com/ccQL7z" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
	</div>	
	
	</div>
</div>
</section>

<section id="credits">
<div class="row" style="padding-top:10px;">

<div class="copyright text-muted small">
	<p>{{ site.copyright }} 
</ul>
</div>
</section>

</div>
</footer>

