<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded ">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-brand logo">
	<a href="{{ site.zephyr-url }}">
		<img src="{{ site.baseurl }}/img/logo.svg" alt="zephyr logo">
	</a>
	<a href="{{ site.baseurl }}">
		<h3 class="zephyr">{{ site.short-title }}</h3>
	</a>
    </div>
    
  <div class="collapse navbar-collapse zephyr condensed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
    </ul>
  </div>

</nav>
