<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>
{% include nav.html %}

<div class="container-fluid" id="main">
<div class="row">
<div class="col-md-9">

	<h3><p class="zephyr">{{ page.title }}</p></h3>	
	
	<section id="article-content">
	{{ content }}
	</section>
	
</div>

<div class="col-md-3">
	<div>
	<h3><p class="zephyr">Related Projects</p></h3>											
		{% for project in site.projects %}
		{% for ptag in page.tags %}
  		{% if project.tags contains ptag %}
    	<h6 class="zephyr"><a href={{ site.baseurl }}{{ project.url }}>{{ project.title }}</a></h6>
		<p class="caption">{{ project.short-description }}</p>
  		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div>
	<h3><p class="zephyr">Relevant Articles</p></h3>											
		{% for article in site.articles %}
		{% for ptag in page.tags %}
  		{% if article.tags contains ptag %}
    	<h6 class="zephyr"><a href={{ site.baseurl }}{{ article.url }}>{{ article.title }}</a></h6>
		<p class="caption">{{ article.short-description }}</p>
  		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>
        
</div>



{% include footer.html %}
{% include js.html %}

</body>
</html>