<!DOCTYPE HTML>
<html>
{% include head.html %}
{% include js.html %}
<body>
{% include nav.html %}

<div class="container-fluid" id="main">
<div class="row">
<div class="col-md-9">

	<h3>
		<p class="zephyr">{{ page.title }}
		{% if page.github %}
			<a href={{ page.github }} class="btn-social"><i class="fa fa-fw fa-github"></i></a>
		{% endif %}
		</p>
	</h3>
  <p>
		{{ page.short-description }}
	</p>
	<section id="project-groups">
		<div class="card-deck">
		{% for group in site.project-groups %}
		{% if group.tags contains page.category %}
		{% if page.category != group.category %}
  			<div>
  				<a href={{ site.baseurl }}{{ group.url }}>
  				<div class="card square-card">
  					<div class="card-block">
    					<h6 class="card-title">{{ group.title }}</h6>

					</div>
				</div>
				</a>
			</div>
		{% endif %}
  		{% endif %}
		{% endfor %}
		</div>
	</section>

	<section id="projects">
		<div class="card-deck">
		{% for project in site.projects %}
		{% if project.tags contains page.category %}
  			<div>
  				<a href={{ site.baseurl }}{{ project.url }}>
  				<div class="card square-card">
  					<div class="card-block">
    					<h6 class="card-title">{{ project.title }}</h6>

							{% if project.github %}
								<a href={{ project.github }} class="btn-social"><i class="fa fa-fw fa-github"></i></a>
							{% endif %}
					</div>
				</div>
				</a>
			</div>
  		{% endif %}
		{% endfor %}
		</div>
	</section>

	<section id="additional-content">
	{{ content }}
	</section>

</div>

<div class="col-md-3">
	<div>
	<h3><p class="zephyr">Related Articles</p></h3>
		{% for article in site.articles %}
  		{% if article.tags contains group.category %}
    	<h6 class="zephyr"><a href={{ site.baseurl }}{{ article.url }}>{{ article.title }}</a></h6>
		<p class="caption">{{ article.short-description }}</p>
  		{% endif %}
		{% endfor %}
	</div>
	<div>
	<h3><p class="zephyr">Other Categories</p></h3>
		{% for group in site.project-groups %}
  		{% if page.category != group.category %}
    	<h6 class="zephyr"><a href={{ site.baseurl }}{{ group.url }}>{{ group.title }}</a></h6>
		<p class="caption">{{ group.short-description }}</p>
  		{% endif %}
		{% endfor %}
	</div>
</div>

</div>



{% include footer.html %}
{% include js.html %}

</body>
</html>
